
html{
  font-size: 125%;
  background-color: #d1e5f4;
}

body{
  height: 100vh;
  position: relative;
}

.wrapper{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

img{
  max-width: 100%;
  display: block;
}

ul{
  text-decoration: none;
  list-style: none;
}

.gameName {
  font-family: $alphaFont;
  font-weight:300;
  color: #ff8b00;
}

.gameInfo {
  font-family: $betaFont;
  font-weight:800;
  letter-spacing: 1px;
  line-height: 2rem;
}

footer  {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  font-family: $alphaFont;
  color: grey;
  margin: 100px auto 50px auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a{
    text-decoration: none;
  }
}

i{
  color:#FF5348;
  text-decoration: none;
  font-size: 2rem;
  background-color: none;
  }
  .gitLink{
    margin-right: 10px;
  }
  .contactName{
    color: black;
  }
  .midianContact{
    margin-right: 40px;
  }
  .zachContact{
    margin-left: 40px;
  }