
.gameDisplay .wrapper{
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}
.gameName{
    font-size: 1.8rem;
    margin-bottom: 0;
    font-family: $alphaFont;
    h3{
        margin-bottom: 0;
        color: #FF5348;
    }
}
.gameImage{
    border: 5px solid grey;
    margin: 0 auto;
    border-top-left-radius: 25px 80px;
    border-top-right-radius: 25px 80px;
    border-bottom-left-radius: 130px 25px;
    border-bottom-right-radius: 130px 25px;
    height: 450px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: inset 0px 0px 40px 30px rgba(0,0,0,0.1);
    img{
        padding: 20px;
        margin: 0 auto;
        height: 80%;
        width: auto;
        overflow: hidden;
        animation: gameHover 8s ease-in-out infinite;
    }
}

.gameInfo{
    width: 100%;
    margin: 0 auto;
}


@keyframes gameHover{
    0% {
		transform: translatey(0px);
	}  
	50% {
		transform: translatey(-15px);
	}
	100% {
		
		transform: translatey(0px);
	}
}
.buyButton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buyNow{
        border: none;
        color: antiquewhite;
        background-color: #FF5348;
        height: 50%;
        padding:20px 60px;
        border-radius: 7%;
        font-family: $alphaFont;
        transition: ease-in-out 0.2s;
        text-align: center;
        text-decoration: none;

        
    }
    .buyNow:hover,
    .buyNow:focus {
        cursor: pointer;
        background-color: teal;
        color: antiquewhite;
    }