
.gameDisplay .wrapper{
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    
}
.gameImage{
    border: 5px solid grey;
    margin: 0 auto;
    border-top-left-radius: 25px 80px;
    border-top-right-radius: 25px 80px;
    border-bottom-left-radius: 130px 25px;
    border-bottom-right-radius: 130px 25px;
    height: 500px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: inset 0px 0px 40px 30px rgba(0,0,0,0.1);
    img{
        padding: 20px;
        margin: 0 auto;
        height: 80%;
        width: auto;
        overflow: hidden;
        animation: gameHover 8s ease-in-out infinite;
    }
}

.gameInfo{
    width: 100%;
    // border: 5px solid blue;
    margin: 0 auto;
    // background-color: white;
}

footer{
    margin-top: 40px;
    text-align: center;
}

@keyframes gameHover{
    0% {
		transform: translatey(0px);
	}  
	50% {
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}