.gameFilter{
    display: flex;
    gap: 5%;
    border-bottom: 2px solid grey;
    margin: 0 auto;
    padding: 20 auto;
    justify-content: center;
    
    h3{
        margin: 0;
        font-family: $alphaFont;
        color:#FF5348;
    }
}
    select{
        appearance: none;
        // display: block;
        color: black;
        padding: 10px 0 ;
        border: none;
        border-bottom: 1px solid #eee;
        border-radius: 5px;
        font-family: $betaFont;
        font-size: 0.7rem;
        width: 100%;
        text-transform: uppercase;
        background-color: rgb(255, 255, 255);
        background-image: url(../assets/caret-down-solid.svg);
        background-repeat: no-repeat;
        background-position: 95% center;
        // background-size: 20px;
    }
    
    button{
        // display: block;
        border: none;
        color: antiquewhite;
        background-color: #FF5348;
        height: 50%;
        padding:20px 50px;
        margin-top: auto;
        border-radius: 7%;
        font-family: $alphaFont;

        
    }
    .submit:hover,
    .submit:focus {
        background-color: teal;
        transition: ease-in-out 0.4s;
        color: antiquewhite;
    }