/* Fonts */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

html {
  font-size: 125%;
  background-color: #d1e5f4;
}

body {
  height: 100vh;
  position: relative;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  text-decoration: none;
  list-style: none;
}

.gameName {
  font-family: "Atomic Age", cursive;
  font-weight: 300;
  color: #ff8b00;
}

.gameInfo {
  font-family: "Life Savers", cursive;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 2rem;
}

footer {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  font-family: "Atomic Age", cursive;
  color: grey;
  margin: 100px auto 50px auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer a {
  text-decoration: none;
}

i {
  color: #FF5348;
  text-decoration: none;
  font-size: 2rem;
  background-color: none;
}

.gitLink {
  margin-right: 10px;
}

.contactName {
  color: black;
}

.midianContact {
  margin-right: 40px;
}

.zachContact {
  margin-left: 40px;
}

header {
  border-bottom: 3px solid grey;
}

h1 {
  font-size: 4rem;
  font-family: "Atomic Age", cursive;
  color: #FF5348;
  text-align: center;
  margin: 0px auto;
}

h2 {
  font-size: 1.2rem;
  color: #ff8b00;
  text-align: center;
  font-family: "Life Savers", cursive;
}

.popup {
  background-color: #FAEBD7;
  display: none;
  width: 450px;
  padding: 40px 40px;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  left: 50%;
  top: 50%;
  border: 5px solid #FF5348;
  border-radius: 5%;
  z-index: 90;
}
.popup h1 {
  Text-align: center;
  padding: 5%;
  margin-bottom: 0;
  font-size: 3rem;
  font-family: "Atomic Age", cursive;
}
.popup p {
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 5%;
  color: #ff8b00;
  font-family: "Life Savers", cursive;
  font-weight: 700;
  padding-bottom: 15px;
}
.popup a {
  display: block;
  width: 100px;
  position: relative;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  padding: 5px 25px;
  font-family: "Atomic Age", cursive;
  color: #FAEBD7;
  background-color: #FF5348;
  border-radius: 7%;
}

#okayButton:hover,
#okayButton:focus {
  color: #FAEBD7;
  background-color: teal;
  -webkit-transition: background-color 0.4s ease-in;
  transition: background-color 0.4s ease-in;
}

.gameFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5%;
  border-bottom: 2px solid grey;
  margin: 0 auto;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gameFilter h3 {
  margin: 0;
  font-family: "Atomic Age", cursive;
  color: #FF5348;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: black;
  padding: 10px 0;
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid #eee;
  border-radius: 5px;
  font-family: "Life Savers", cursive;
  font-size: 0.7rem;
  letter-spacing: 1px;
  width: 100%;
  text-transform: uppercase;
  background-color: rgb(255, 255, 255);
  background-image: url(../assets/caret-down-solid.svg);
  background-repeat: no-repeat;
  background-position: 95% center;
}

select:hover {
  cursor: pointer;
}

button {
  border: none;
  color: antiquewhite;
  background-color: #FF5348;
  height: 50%;
  padding: 20px 50px;
  margin-top: auto;
  border-radius: 7%;
  font-family: "Atomic Age", cursive;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.submit:hover,
.submit:focus {
  cursor: pointer;
  background-color: teal;
  color: antiquewhite;
}

.gameDisplay .wrapper {
  margin: 5% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.gameName {
  font-size: 1.8rem;
  margin-bottom: 0;
  font-family: "Atomic Age", cursive;
}
.gameName h3 {
  margin-bottom: 0;
  color: #FF5348;
}

.gameImage {
  border: 5px solid grey;
  margin: 0 auto;
  border-top-left-radius: 25px 80px;
  border-top-right-radius: 25px 80px;
  border-bottom-left-radius: 130px 25px;
  border-bottom-right-radius: 130px 25px;
  height: 450px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-box-shadow: inset 0px 0px 40px 30px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 0px 40px 30px rgba(0, 0, 0, 0.1);
}
.gameImage img {
  padding: 20px;
  margin: 0 auto;
  height: 80%;
  width: auto;
  overflow: hidden;
  -webkit-animation: gameHover 8s ease-in-out infinite;
          animation: gameHover 8s ease-in-out infinite;
}

.gameInfo {
  width: 100%;
  margin: 0 auto;
}

@-webkit-keyframes gameHover {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-15px);
            transform: translatey(-15px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes gameHover {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-15px);
            transform: translatey(-15px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}
.buyButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buyNow {
  border: none;
  color: antiquewhite;
  background-color: #FF5348;
  height: 50%;
  padding: 20px 60px;
  border-radius: 7%;
  font-family: "Atomic Age", cursive;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  text-align: center;
  text-decoration: none;
}

.buyNow:hover,
.buyNow:focus {
  cursor: pointer;
  background-color: teal;
  color: antiquewhite;
}

/* 1050 */
@media (max-width: 1050px) {
  .gameImage {
    width: 70%;
  }
}
/* 850 */
@media (max-width: 850px) {
  .gameImage {
    width: 80%;
  }
}
/* 666px */
@media (max-width: 666px) {
  .gameFilter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 20px;
  }
  .gameFilter h3 {
    padding-top: 10px;
  }

  button {
    margin-top: 10px;
  }

  .gameImage {
    width: 90%;
  }

  i {
    font-size: 1.5rem;
  }
}